<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.javaweb1S.dao.AttendanceDAO">
	
	<select id="getAttendanceList" resultType="com.spring.javaweb1S.vo.AttendanceVO">
		select A.att_idx,M.nickName,A.content,A.wdate,A.ddate from member2 M , attendance A where M.m_idx = A.m_idx;
	</select>
</mapper>

