<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.javaweb1S.dao.PageDAO">
	<select id="getTRC" resultType="int">
		select count(*) from ${tableName};
	</select>
	
	<select id="getTRCwithCategory" resultType="int">
		select count(*) from ${tableName} where category = #{category};
	</select>
	
</mapper>